# Copyright 2023-2024 Broadcom. All rights reserved.
# SPDX-License-Identifier: BSD-2

/*
    DESCRIPTION:
    VMware vSphere variables used for all builds.
    - Variables are use by the source blocks.
*/

// vSphere Credentials
vsphere_endpoint            = "10.58.45.190"
vsphere_username            = "admin"
vsphere_password            = "onx;sce0dkap"
vsphere_insecure_connection = true

// vSphere Settings
vsphere_datacenter                     = "Stackscale"
vsphere_cluster                        = "cluster1"
vsphere_host                         = "10.58.45.192"
vsphere_datastore                      = "honestic01"
vsphere_network                        = "net-10-212-0-0"
vsphere_folder                         = "_Templates"
//vsphere_resource_pool                = "sfo-w01-rp01"
vsphere_set_host_for_datastore_uploads = false
